
<div class="ui container segment">
  <div class="ui centered grid">
    <div class="four wide column">
      <%= render 'users/searchusers'%>
    </div>
    <div class="eight wide column">
      <div class="ui link cards">
        <%= render 'users/users'%>
      </div>      
    </div>
  </div>
</div>

