<div class="ui card">
  <%= image_tag @user.image.variant(resize_to_fit: [300, 200]) %>
  <img src="/images/avatar/large/steve.jpg">
  <div class="content">
    <a class="header" href="#">Steve Jobes</a>
    <div class="meta">
      <a>Last Seen 2 days ago</a>
    </div>
  </div>
</div>