<div class="ui container segment">

  <div class="ui centered grid">
    <div class="four wide column">
      <%= render 'welcome/postsearch'%>
    </div>
    <div class="eight wide column">
      <%= render 'welcome/feed'%> 
    </div>
 
</div> 
</div>  